*.class
pom.properties
*/target/*
*/classes/*
Thumbs.db
/.settings/*
*.project
*.prefs
dangjian-common/.settings/org.eclipse.wst.common.project.facet.core.xml
dangjian-common/.settings/org.eclipse.wst.common.component
