<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dlbdata.dj.db.mapper.DjActiveUserMapper">
  <resultMap id="BaseResultMap" type="cn.dlbdata.dj.db.pojo.DjActiveUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="dj_active_id" jdbcType="BIGINT" property="djActiveId" />
    <result column="dj_user_id" jdbcType="BIGINT" property="djUserId" />
    <result column="dj_dept_id" jdbcType="BIGINT" property="djDeptId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="sign_time" jdbcType="TIMESTAMP" property="signTime" />
  </resultMap>
  
  <resultMap id="ActiveResultMap" type="cn.dlbdata.dj.db.pojo.DjActive">
	<id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="dj_type_id" jdbcType="BIGINT" property="djTypeId" />
    <result column="dj_sub_type_id" jdbcType="BIGINT" property="djSubTypeId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="principal_name" jdbcType="VARCHAR" property="principalName" />
    <result column="has_audit" jdbcType="INTEGER" property="hasAudit" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="dj_pic_id" jdbcType="BIGINT" property="djPicId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="dj_dept_id" jdbcType="BIGINT" property="djDeptId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="sign_time" jdbcType="TIMESTAMP" property="signTime" />
  </resultMap>
  
  <select id="getMyJoinActive" parameterType="map" resultMap="ActiveResultMap">
  	SELECT
  		t.id, t.name, t.dj_type_id, t.dj_sub_type_id, t.address, t.principal_name, t.start_time, t.end_time, t.content, t.create_user_id, t.dj_pic_id, t.create_time,
  		du.user_name, dtu.dj_user_id user_id, dtu.dj_dept_id, dtu.status, dtu.sign_time, dt.name activeTypeName, dst.name subActiveTypeName, dst.content subActiveTypeContent

  	FROM
  		dj_active_user dtu
  	LEFT JOIN dj_active t  ON dtu.dj_active_id =  t.id
  	left join dj_user du on du.id = dtu.dj_user_id
  	left join dj_type dt on dt.id = t.dj_type_id
  	left join dj_sub_type dst on dst.id = t.dj_sub_type_id
  	where dtu.status = #{status} and dtu.dj_user_id = #{userId}
  </select>
  
  <insert id="insertList" parameterType="Map">
    insert into dj_active_user ( dj_active_id,dj_user_id,dj_dept_id,status) values
    <trim suffixOverrides=",">
      <foreach collection ="users" item="user" index="index" separator =",">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{activeId,jdbcType=BIGINT},
            #{user.id,jdbcType=BIGINT},
            #{user.deptId,jdbcType=BIGINT},
         	 0
        </trim>
      </foreach>
    </trim>
  </insert>
</mapper>