<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dlbdata.dj.db.mapper.DjActiveDeptMapper">
  <resultMap id="BaseResultMap" type="cn.dlbdata.dj.db.pojo.DjActiveDept">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="dj_active_id" jdbcType="INTEGER" property="djActiveId" />
    <result column="dj_dept_id" jdbcType="INTEGER" property="djDeptId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>