<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dlbdata.dj.db.mapper.DjActiveMapper">
	<resultMap id="BaseResultMap" type="cn.dlbdata.dj.db.pojo.DjActive">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="type_id" jdbcType="INTEGER" property="typeId" />
		<result column="sub_type_id" jdbcType="INTEGER" property="subTypeId" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="principal_id" jdbcType="VARCHAR" property="principalId" />
		<result column="has_audit" jdbcType="INTEGER" property="hasAudit" />
		<result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
		<result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
		<result column="content" jdbcType="VARCHAR" property="conent" />
		<result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
		<result column="pic_id" jdbcType="BIGINT" property="picId" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	</resultMap>

	<select id="getUserActiveCountByActiveTypeAndTime" parameterType="map"
		resultType="java.lang.Integer">
		select count(*) from dj_active d
		WHERE d.id in (
		SELECT dj_active_id FROM
		dj_active_user dau WHERE dj_user_id =
		#{userId} AND dau.status = 1
		)
		<if test="activeType != null">
			AND d.type_id = #{activeType}
		</if>
		AND (start_time BETWEEN #{startTime} and #{endTime}
		OR end_time BETWEEN #{startTime} and #{endTime} )
	</select>
	
	
	 <select id="getRunningActive" parameterType="map" resultType="java.util.Map">
	      SELECT
	        t.id, t.name, t.start_time, t.end_time, t.address, t.create_user_id,
	       	t.content, t.status, t.type_id,	t.has_audit, t.sub_type_id, p.name partyMemberName,
	       	(select count(*) from dj_active_user where dj_active_user.dj_user_id = #{userId} and dj_active_user.dj_active_id = t.id)signUp
	      FROM dj_active t INNER JOIN dj_partymember p on t.create_user_id = p.id
	      LEFT JOIN dj_active_dept da on da.dj_active_id = t.id 
	      WHERE 1 = 1 
	      <if test="departmentId != null">
	          AND da.dj_dept_id = #{departmentId}
	      </if>
	       <if test="endTime != null">
	          AND t.end_time &gt; #{endTime}
	      </if>
	        order by signUp, t.start_time DESC
     </select>
     
     
     <select id="getRunningActiveCount" parameterType="map" resultType="java.util.Map">
	      SELECT count(*),
	        t.id, t.name, t.start_time, t.end_time, t.address, t.create_user_id,
	       	t.content, t.status, t.type_id,	t.has_audit, t.sub_type_id, p.name partyMemberName,
	       	(select count(*) from dj_active_user where dj_active_user.dj_user_id = #{userId} and dj_active_user.dj_active_id = t.id)signUp
	      FROM dj_active t INNER JOIN dj_partymember p on t.create_user_id = p.id
	      LEFT JOIN dj_active_dept da on da.dj_active_id = t.id 
	      WHERE 1 = 1 
	      <if test="departmentId != null">
	          AND da.dj_dept_id = #{departmentId}
	      </if>
	       <if test="endTime != null">
	          AND t.end_time &gt; #{endTime}
	      </if>
	        order by signUp, t.start_time DESC
     </select>

 
</mapper>