<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dlbdata.dj.db.mapper.DjApplyMapper">
  <resultMap id="BaseResultMap" type="cn.dlbdata.dj.db.pojo.DjApply">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="dj_type_id" jdbcType="BIGINT" property="djTypeId" />
    <result column="dj_sub_type_id" jdbcType="BIGINT" property="djSubTypeId" />
    <result column="sub_type_name" jdbcType="VARCHAR" property="subTypeName" />
    <result column="apply_info" jdbcType="VARCHAR" property="applyInfo" />
    <result column="apply_id" jdbcType="BIGINT" property="applyId" />
    <result column="apply_name" jdbcType="VARCHAR" property="applyName" />
    <result column="apply_desc" jdbcType="VARCHAR" property="applyDesc" />
    <result column="apply_year" jdbcType="INTEGER" property="applyYear" />
    <result column="approver_id" jdbcType="BIGINT" property="approverId" />
    <result column="approver_name" jdbcType="VARCHAR" property="approverName" />
    <result column="dj_dept_id" jdbcType="BIGINT" property="djDeptId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="table_name" jdbcType="VARCHAR" property="tableName" />
    <result column="record_id" jdbcType="BIGINT" property="recordId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="score" jdbcType="REAL" property="score" />
    <result column="dj_role_id" jdbcType="BIGINT" property="djRoleId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="approve_time" jdbcType="TIMESTAMP" property="approveTime" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
  </resultMap>
  
  <select id="getPendingList" parameterType="map" resultMap="BaseResultMap">
  	select d.id,d.user_id,d.user_name,d.create_time,d.sub_type_name,d.status,t.name type_name from dj_apply d
	left join dj_type t on t.id = d.dj_type_id
  	<where>
  		d.approver_id = #{userId}
  		<if test="deptId != null">
  			and d.dj_dept_id = #{deptId}
  		</if>
  		<if test="typeId != null">
  			and d.dj_sub_type_id = #{subTypeId}
  		</if>
  	</where>
  </select>
    
    <select id="getScoreAuditList" resultType="cn.dlbdata.dj.db.vo.apply.ScoreApplyVo">
        select pm.id as partyMemberId,pm.name as partyMemberName,
        ifnull((select sum(sco.score)  from dj_score sco where sco.user_id = pm.id),0) as totalScore,
        dt.principal_name as leaderName
        from dj_partymember pm
        left join dj_dept dt on dt.id = pm.dept_id
        <where>
            <choose>
                <when test="status==0">
                    <!-- 传入的状态为待处理 则党员存在未处理的申请-->
                    exists (select * from dj_apply ap where ap.status =0 and ap.user_id = pm.id
                    <if test="yearTimeStart !=null">
                        and ap.create_time &gt;= #{yearTimeStart}
                    </if>
                    <if test="yearTimeEnd !=null">
                        and ap.create_time &lt;= #{yearTimeEnd}
                    </if>
                    and ap.dj_type_id =4
                    )
                </when>
                <otherwise>
                    <!-- 传入的状态为已审核 则党员不存在未处理的申请，且存在已处理的申请(所有的申请都已审核)-->
                    not exists (SELECT * FROM dj_apply ap WHERE ap. status = 0 AND ap.user_id = pm.id
                    <if test="yearTimeStart !=null">
                        and ap.create_time &gt;= #{yearTimeStart}
                    </if>
                    <if test="yearTimeEnd !=null">
                        and ap.create_time &lt;= #{yearTimeEnd}
                        and ap.dj_type_id =4
                    </if>)
                    AND exists (
                    SELECT * FROM dj_apply ap WHERE ap. status in(1,-2) and ap.user_id = pm.id
                    <if test="yearTimeStart !=null">
                        and ap.create_time &gt;= #{yearTimeStart}
                    </if>
                    <if test="yearTimeEnd !=null">
                        and ap.create_time &lt;= #{yearTimeEnd}
                    </if>
                    and ap.dj_type_id =4
                    )
                </otherwise>
            </choose>
            <if test="deptId != null">
                and pm.dept_id = #{deptId}
            </if>
        </where>
    </select>

    <select id="getScoreAuditDetailByPtMemberId" resultType="cn.dlbdata.dj.db.vo.apply.ScoreAuditDetailVo">
        select ap.id,ap.sub_type_name as subTypeName,ap.apply_info as content,ap.score,ap.status,ap.remark as refuseReason,
        ap.record_id as recordId
         from dj_apply ap where user_id =#{partyMemberId}  and ap.create_time &gt;= #{yearTimeStart}  and ap.create_time &lt;= #{yearTimeEnd}
    </select>

    <select id="countUnAuditByPtMemberIdAndType" resultType="int">
    select count(0) from dj_apply where user_id =#{partyMemberId} and dj_type_id =#{typeId} and apply_year = #{year}
  </select>

    <select id="countByPtMemberIdStatus" resultType="int">
    select count(0) from dj_apply where user_id =#{partyMemberId} and status=#{status} and dj_type_id =#{typeId}
    and apply_year = #{year}
  </select>
    
    <select id="getObserveLowDetailByApplyId" resultType="cn.dlbdata.dj.db.vo.party.ObserveLowDetailVo">
        select app.user_name as partyMemberName,dept.name as deptName,dis.reason,dis.reason_desc as reasonDesc,dis.id as disId from dj_apply app
        left join dj_discipline dis  on dis.id = app.record_id
        left join dj_dept dept on dept.id = app.dj_dept_id
        where app.id = #{id}

    </select>

    <select id="getObserveLowDetailByPartyMemberId" resultType="cn.dlbdata.dj.db.vo.party.ObserveLowDetailVo">
        select app.user_name as partyMemberName,dept.name as deptName,dis.reason,dis.reason_desc as reasonDesc,dis.id as disId from dj_apply app
        left join dj_discipline dis  on dis.id = app.record_id
        left join dj_dept dept on dept.id = app.dj_dept_id
        where app.create_time &gt;= #{yearTimeStart} and app.create_time &lt;= #{yearTimeEnd}
        and app.user_id=#{partyMemberId} order by app.create_time desc LIMIT 1
    </select>

    <select id="getOneByUserIdOrderByCreateTimeDesc" resultType="java.lang.Integer">
    select status from dj_apply where user_id = #{userId} and dj_sub_type_id =#{subTypeId}
     and create_time &gt;= #{yearTimeStart} and create_time &lt;= #{yearTimeEnd}
     order by create_time desc LIMIT 1
  </select>

    <select id="countByPartyMemberIdAndSubTypeIdAndYear" resultType="int">
        select count(0) from dj_apply where user_id = #{partyMemberId} and apply_year = #{year}
        and dj_sub_type_id = #{subTypeId}
    </select>

</mapper>