<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dlbdata.dj.db.mapper.DjApplyMapper">
  <resultMap id="BaseResultMap" type="cn.dlbdata.dj.db.pojo.DjApply">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="dj_type_id" jdbcType="BIGINT" property="djTypeId" />
    <result column="dj_sub_type_id" jdbcType="BIGINT" property="djSubTypeId" />
    <result column="apply_info" jdbcType="VARCHAR" property="applyInfo" />
    <result column="apply_id" jdbcType="BIGINT" property="applyId" />
    <result column="apply_name" jdbcType="VARCHAR" property="applyName" />
    <result column="apply_desc" jdbcType="VARCHAR" property="applyDesc" />
    <result column="approver_id" jdbcType="BIGINT" property="approverId" />
    <result column="approver_name" jdbcType="VARCHAR" property="approverName" />
    <result column="dj_dept_id" jdbcType="BIGINT" property="djDeptId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="table_name" jdbcType="VARCHAR" property="tableName" />
    <result column="record_id" jdbcType="BIGINT" property="recordId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="score" jdbcType="REAL" property="score" />
    <result column="dj_role_id" jdbcType="BIGINT" property="djRoleId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="approve_time" jdbcType="TIMESTAMP" property="approveTime" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="sub_name" jdbcType="VARCHAR" property="subName" />
  </resultMap>
  
  <select id="getPendingList" parameterType="map" resultType="cn.dlbdata.dj.db.pojo.DjApply">
  	select d.id,d.user_name,d.create_time,d.status,t.name type_name,tt.name sub_name from dj_apply d
	left join dj_type t on t.id = d.dj_type_id
	left join dj_sub_type tt on tt.id = d.dj_sub_type_id
  	<where>
  		d.approver_id = #{userId}
  		<if test="deptId != null">
  			and d.dj_dept_id = #{deptId}
  		</if>
  		<if test="typeId != null">
  			and d.dj_type_id = #{typeId}
  		</if>
  	</where>
  </select>
    
    <select id="getScoreAuditList" resultType="cn.dlbdata.dj.db.vo.vo.apply.ScoreApplyVo">
        select ap.id as applyId,ap.status,ap.user_name as partyMemberName,ap.apply_name as leaderName,(
        select sum(sco.score)  from dj_score sco where sco.user_id = ap.user_id) as totalScore from  dj_apply ap
        <where>
            ap.approver_id=#{approverId}
            <if test="yearTimeStart !=null">
                and ap.create_time &gt;= #{yearTimeStart}
            </if>
            <if test="yearTimeEnd !=null">
                and ap.create_time &lt;= #{yearTimeEnd}
            </if>
            <if test="status != null">
                and ap.status = #{status}
            </if>
        </where>
    </select>
</mapper>