<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dlbdata.dj.db.mapper.DjDeptMapper">
  <resultMap id="BaseResultMap" type="cn.dlbdata.dj.db.pojo.DjDept">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="dj_section_id" jdbcType="BIGINT" property="djSectionId" />
    <result column="dj_building_id" jdbcType="BIGINT" property="djBuildingId" />
    <result column="floor" jdbcType="VARCHAR" property="floor" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="people_num" jdbcType="INTEGER" property="peopleNum" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="dept_level" jdbcType="VARCHAR" property="deptLevel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="principal_id" jdbcType="BIGINT" property="principalId" />
    <result column="principal_name" jdbcType="VARCHAR" property="principalName" />
    <result column="building_code" jdbcType="VARCHAR" property="buildingCode" />
    <result column="honor" jdbcType="VARCHAR" property="honor" />
  </resultMap>


  <select id="getBranchDeptInfoBySectionId" parameterType="java.lang.Long"
       resultType="cn.dlbdata.dj.db.vo.party.BranchDeptInfoVo">
    SELECT dept.name as deptName , id as deptId,(SELECT count(0) from dj_partymember where dept_id = dept.id) as total,
    dept.principal_name as leaderName
    from dj_dept dept
    where dept.dj_section_id = #{sectionId}
  </select>

  <select id="getBranchDeptIdAndName" parameterType="java.lang.Long" resultType="cn.dlbdata.dj.db.vo.dept.DeptIdNameDto">
    select id as value,name as name from dj_dept where dj_section_id= #{sectionId}
  </select>
  
  <select id="getSectionPeopleNum" parameterType="java.lang.Long" resultType="java.lang.Integer">
    select sum(people_num)  from dj_dept where dj_section_id= #{sectionId}
  </select>

  <select id="getDeptIdsBySectionId" resultType="java.lang.Long">
    select id from dj_dept where dj_section_id = #{sectionId}
  </select>

  <select id="getByBuildingId" resultMap="BaseResultMap">
    select id,dj_section_id,dj_building_id,floor,name,people_num,address,phone,status,parent_id,dept_level,create_time,
    principal_id,principal_name,building_code,honor
    from dj_dept where dj_building_id = #{buildingId}
  </select>
  
  <select id="getDeptNameAndPeopleSum" parameterType="long" resultType="cn.dlbdata.dj.db.vo.dept.DeptAndPartyMemberVo">
    select  dept.name as deptName,(select count(pm.id) from dj_partymember pm where pm.dept_id = dept.id) as peopleSum
     from dj_dept dept where dept.id = #{id}
  </select>
  
  <select id="getDeptListAndApplyInfo" parameterType="java.lang.Long" resultType="cn.dlbdata.dj.db.vo.dept.DeptAndApplyInfoVo">
    select dept.id as deptId,dept.name as deptName,if((select count(app.id) from dj_apply app where app.status = 0 and app.dj_type_id = 4 and app.dj_dept_id = dept.id)>0,1,0) as haveApply from dj_dept dept where dept.dj_section_id = #{sectionId}
  </select>
  
  
  <select id="getAdminStat" resultType="int">
  	select count(*) from dj_dept
  </select>
  
  <resultMap type="cn.dlbdata.dj.db.vo.jlyz.PartyBranchVo" id="ResultPartyBranchMap">
  	 <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="floor" jdbcType="INTEGER" property="floor" />
    <result column="people_num" jdbcType="INTEGER" property="number" />
    <result column="principal_id" jdbcType="BIGINT" property="secretary_id" />
    <result column="principal_name" jdbcType="VARCHAR" property="sj_name" />
    <result column="dept_level" jdbcType="VARCHAR" property="deptLevel" />
  </resultMap>
  <select id="getBuildingAndDept" parameterType="String" resultMap="ResultPartyBranchMap">
  	select id, name, floor, people_num, principal_id, principal_name from dj_dept where building_code = #{buildingCode}
  </select>
  
  <select id="getDeptIdAndNameBySectionId" resultType="cn.dlbdata.dj.db.dto.IdNameDto">
    select id,name from dj_dept where dj_section_id = #{sectionId}
  </select>
  
</mapper>