<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dlbdata.dj.db.mapper.DjLogOptMapper">
  <resultMap id="BaseResultMap" type="cn.dlbdata.dj.db.pojo.DjLogOpt">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="dj_user_id" jdbcType="BIGINT" property="djUserId" />
    <result column="dj_resource_id" jdbcType="BIGINT" property="djResourceId" />
    <result column="opt_id" jdbcType="BIGINT" property="optId" />
    <result column="opt_desc" jdbcType="VARCHAR" property="optDesc" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="error_msg" jdbcType="VARCHAR" property="errorMsg" />
    <result column="dj_dept_id" jdbcType="BIGINT" property="djDeptId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  
  <select id="getTop5PartyBanch" parameterType="Integer" resultType="map">
		select dt.id, dt.name, djp.name principalName,count(*) as co from dj_log_opt dlo
		left join dj_dept dt on dt.id =  dlo.dj_dept_id
		left join dj_partymember djp on djp.id = dt.principal_id 
		where 1=1 and year(dlo.create_time) = #{year}
		group by dj_dept_id 
		order by co desc
		limit 5
  </select>
</mapper>