<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meig.link.db.mapper.DjPartymemberMapper">
  <resultMap id="BaseResultMap" type="com.meig.link.db.pojo.DjPartymember">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="idcard" jdbcType="VARCHAR" property="idcard" />
    <result column="dept_id" jdbcType="BIGINT" property="deptId" />
    <result column="from_dept_id" jdbcType="BIGINT" property="fromDeptId" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="post_id" jdbcType="INTEGER" property="postId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>