<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dlbdata.dj.db.mapper.DjPartymemberMapper">
  <resultMap id="BaseResultMap" type="cn.dlbdata.dj.db.pojo.DjPartymember">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex_code" jdbcType="INTEGER" property="sexCode" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="idcard" jdbcType="VARCHAR" property="idcard" />
    <result column="dept_id" jdbcType="BIGINT" property="deptId" />
    <result column="from_dept_id" jdbcType="BIGINT" property="fromDeptId" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="post_id" jdbcType="INTEGER" property="postId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="birth_date" jdbcType="DATE" property="birthDate" />
    <result column="education_code" jdbcType="VARCHAR" property="educationCode" />
    <result column="adm_post" jdbcType="VARCHAR" property="admPost" />
    <result column="party_post_code" jdbcType="VARCHAR" property="partyPostCode" />
  </resultMap>
  
  <select id="getReportPartyMember" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select name,id,dept_id from dj_partymember  where dept_id = #{deptId}
    order by post_id desc
  </select>
  
  <resultMap id="BaseResultMapTwo" type="cn.dlbdata.dj.vo.PartyMemberVo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex_code" jdbcType="INTEGER" property="sexCode" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="post_id" jdbcType="INTEGER" property="postId" />
    <result column="totalscore" jdbcType="FLOAT" property="totalScore" />
  </resultMap>
   <select id="queryAllPartyMembersByDeptId" parameterType="map" resultMap="BaseResultMapTwo">
	    select p.id, p.name, p.sex_code, p.post_id,
		(select sum(djs.score) from dj_score djs where djs.user_id = p.id and #{year} = (select year(now()) )) as totalscore 
		from dj_partymember p
	    left join dj_user pu on p.id = pu.id
	    <if test="deptId != null">
	    		and p.dept_id = #{deptId}
	    </if>
	    order by p.post_id DESC
   </select>
</mapper>