<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dlbdata.dj.db.mapper.DjPartymemberDuesMapper">
  <resultMap id="BaseResultMap" type="cn.dlbdata.dj.db.pojo.DjPartymemberDues">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="dj_partymember_id" jdbcType="BIGINT" property="djPartymemberId" />
    <result column="dues_year" jdbcType="INTEGER" property="duesYear" />
    <result column="dues_month" jdbcType="INTEGER" property="duesMonth" />
    <result column="dues_money" jdbcType="REAL" property="duesMoney" />
    <result column="real_money" jdbcType="REAL" property="realMoney" />
    <result column="payment_time" jdbcType="TIMESTAMP" property="paymentTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  
  <select id="existWithOrderCode" resultType="boolean">
    select count(*) from dj_partymember_dues where order_code = #{orderCode}

  </select>

  <insert id="batchInsert" parameterType="java.util.List">
    insert into dj_partymember_dues (id, dj_partymember_id, dues_year,
    dues_month, dues_money, real_money,
    payment_time, status, create_time,
    order_code)
    values
    <foreach collection="list" item="item" index="index" separator="," >
      (#{item.id}, #{item.djPartymemberId}, #{item.duesYear},
      #{item.duesMonth}, #{item.duesMoney}, #{item.realMoney},
      #{item.paymentTime}, #{item.status}, #{item.createTime},
      #{item.orderCode})
    </foreach>
  </insert>
</mapper>