<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dlbdata.dj.db.mapper.DjPartymemberMapper">
  <resultMap id="BaseResultMap" type="cn.dlbdata.dj.db.pojo.DjPartymember">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex_code" jdbcType="INTEGER" property="sexCode" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="idcard" jdbcType="VARCHAR" property="idcard" />
    <result column="dept_id" jdbcType="BIGINT" property="deptId" />
    <result column="from_dept_id" jdbcType="BIGINT" property="fromDeptId" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="post_id" jdbcType="INTEGER" property="postId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="birth_date" jdbcType="DATE" property="birthDate" />
    <result column="education_code" jdbcType="VARCHAR" property="educationCode" />
    <result column="adm_post" jdbcType="VARCHAR" property="admPost" />
    <result column="party_post_code" jdbcType="VARCHAR" property="partyPostCode" />
  </resultMap>
  
  <select id="getPioneeringPartyMembers" parameterType="java.lang.Long" resultType="cn.dlbdata.dj.db.vo.party.PioneeringPartyMemberVo">
    select name,id,dept_id as deptId from dj_partymember  where dept_id = #{deptId}
    order by post_id desc
  </select>

  <select id="getReportPartyMembers" parameterType="java.lang.Long" resultType="cn.dlbdata.dj.db.vo.party.ReportPartyMemberVo">
    select name,id,dept_id as deptId,-1 as status from dj_partymember  where dept_id = #{deptId}
    order by post_id desc
  </select>
  
  <resultMap id="BaseResultMapTwo" type="cn.dlbdata.dj.db.vo.party.AllPartyMemberVo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex_code" jdbcType="INTEGER" property="sexCode" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="post_id" jdbcType="INTEGER" property="postId" />
    <result column="totalscore" jdbcType="FLOAT" property="totalScore" />
  </resultMap>
   <select id="queryAllPartyMembersByDeptId" parameterType="map" resultMap="BaseResultMapTwo">
	    select p.id, p.name, p.age, p.sex_code, p.post_id,
		(select sum(djs.score) from dj_score djs where djs.user_id = p.id and djs.add_year = #{year} ) as totalscore 
		from dj_partymember p
	    left join dj_user pu on p.id = pu.id
	    <if test="deptId != null">
	    		where p.dept_id = #{deptId}
	    </if>
	    order by p.party_post_code
   </select>

  <select id="getObserveLowPartyMember" resultType="cn.dlbdata.dj.db.vo.party.ObserveLowPartyMemberVo">
    SELECT pm.id,pm. NAME,(SELECT sum(score) FROM dj_score sc WHERE sc.dj_sub_type_id in(51,52)
            AND sc.add_year = #{year} AND sc.user_id = pm.id) AS score
    FROM
        dj_partymember pm
    WHERE
        pm.dept_id = #{deptId}
  </select>

  <select id="getTotalScoreById" parameterType="long" resultType="cn.dlbdata.dj.db.vo.party.IdNameTotalScoreVo">
    select id,name,ifnull((SELECT sum(score) FROM dj_score sc WHERE sc.user_id = pm.id),0) as score from dj_partymember pm where id =#{id}
  </select>
  
  <select id="getSumScoreByIdCard" parameterType="map" resultType="float">
   SELECT 
   	(SELECT sum(score) FROM dj_score sc WHERE  sc.add_year = #{year} AND sc.user_id = pm.id) AS score
    FROM
        dj_partymember pm
    WHERE
    	pm.idcard = #{idCard}
  </select>
  
</mapper>