<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dlbdata.dj.db.mapper.DjQueryMapper">
  <resultMap id="BaseResultMap" type="cn.dlbdata.dj.db.pojo.DjQuery">
    <id column="id" jdbcType="INTEGER" property="id" />
  </resultMap>
  
  <resultMap id="SectionResultMap" type="cn.dlbdata.dj.db.pojo.DjSection">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="people_num" jdbcType="INTEGER" property="peopleNum" />
    <result column="address" jdbcType="INTEGER" property="address" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="principal_id" jdbcType="BIGINT" property="principalId" />
    <result column="principal_name" jdbcType="VARCHAR" property="principalName" />
  </resultMap>
  
  <select id="querySectionList" resultMap="SectionResultMap">
    select id,name,people_num,address,status,create_time,principal_id,principal_name from dj_section
    <where>
    		status = 1
    		<if test="name != null">
    			and name like #{name}
    		</if>
    </where>
  </select>
  
  <!-- 查询活动列表 -->
  <resultMap id="ActiveResultMap" type="cn.dlbdata.dj.db.vo.active.AdminActiveVo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="activeName" />
    <result column="sub_type_name" jdbcType="VARCHAR" property="activeTypeName" />
    <result column="user_name" jdbcType="VARCHAR" property="createUser" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="principal_name" jdbcType="VARCHAR" property="principalName" />
  </resultMap>
  <select id="queryActiveList" resultMap="ActiveResultMap">
  	select t.id, t.name, t.status, t.start_time, t.end_time, t.principal_name, t.user_name, dst.name sub_type_name
  	from dj_active t 
  	left join dj_sub_type dst on dst.id = t.dj_sub_type_id
    <where>
         1 = 1
   		<if test="name != null and name != ''">
   			and t.name like #{name}
   		</if>
   		<if test="status != null">
   			and t.status = #{status}
   		</if>
   		
    </where>
  </select>
  
  <!-- 查询自主学习列表 -->
  <resultMap id="StudyResultMap" type="cn.dlbdata.dj.db.vo.study.AdminStudyVo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sub_type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="dept_name" jdbcType="INTEGER" property="deptName" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
 <select id="queryStudyList" resultMap="StudyResultMap">
 	select s.id, s.create_time, s.start_time, s.end_time, s.user_name, djs.name sub_type_name, de.name dept_name
 	from dj_study s
 	left join dj_sub_type djs on djs.id = s.dj_sub_type_id
 	left join dj_dept de on de.id = s.dj_dept_id
 	<where>
         1 = 1
   	</where>	
 </select> 
 	
  
</mapper>