<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dlbdata.dj.db.mapper.DjQueryMapper">
  <resultMap id="BaseResultMap" type="cn.dlbdata.dj.db.pojo.DjQuery">
    <id column="id" jdbcType="INTEGER" property="id" />
  </resultMap>
  
  <resultMap id="SectionResultMap" type="cn.dlbdata.dj.db.pojo.DjSection">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="people_num" jdbcType="INTEGER" property="peopleNum" />
    <result column="description" jdbcType="INTEGER" property="description" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="principal_id" jdbcType="BIGINT" property="principalId" />
    <result column="principal_name" jdbcType="VARCHAR" property="principalName" />
  </resultMap>
  
  <select id="querySectionList" resultMap="SectionResultMap">
    select id,name,people_num,description,status,create_time,principal_id,principal_name from dj_section
    <where>
    		status = 1
    		<if test="name != null">
    			and name like #{name}
    		</if>
    </where>
  </select>

  <!-- 查询活动列表 -->
  <resultMap id="ActiveResultMap" type="cn.dlbdata.dj.db.vo.active.AdminActiveVo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="activeName" />
    <result column="sub_type_name" jdbcType="VARCHAR" property="activeTypeName" />
    <result column="user_name" jdbcType="VARCHAR" property="createUser" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="principal_name" jdbcType="VARCHAR" property="principalName" />
  </resultMap>
  <select id="queryActiveList" resultMap="ActiveResultMap">
  	select t.id, t.name, t.status, t.start_time, t.end_time, t.principal_name, t.user_name, dst.name sub_type_name, dd.name dept_name
  	from dj_active t
  	left join dj_sub_type dst on dst.id = t.dj_sub_type_id
  	left join dj_dept dd on dd.id = t.dj_dept_id 
    <where>
         1 = 1
   		<if test="name != null and name != ''">
   			and t.name like #{name}
   		</if>
   		<if test="status != null and status != ''">
   			and t.status = #{status}
   		</if>
   		<if test="seldept != null and seldept != ''">
   			and t.dj_dept_id = #{seldept}
   		</if>
		<if test="orderBy != null and orderBy != ''">
   			order by ${orderBy}
   		</if>
    </where>
  </select>

  <!-- 查询自主学习列表 -->
  <resultMap id="StudyResultMap" type="cn.dlbdata.dj.db.vo.study.AdminStudyVo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sub_type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="dept_name" jdbcType="INTEGER" property="deptName" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
 <select id="queryStudyList" resultMap="StudyResultMap">
 	select s.id, s.create_time, s.start_time, s.end_time, s.user_name, djs.name sub_type_name, de.name dept_name
 	from dj_study s
 	left join dj_sub_type djs on djs.id = s.dj_sub_type_id
 	left join dj_dept de on de.id = s.dj_dept_id
 	<where>
         1 = 1
         <if test="selType != '' and selType != null ">
         	and djs.id = #{selType}
         </if>
         <if test="createName != '' and createName != null ">
         	and s.user_name like #{createName}
         </if>
         <if test="seldept != '' and seldept != null ">
         	and s.dj_dept_id = #{seldept}
         </if>
         
   	</where>	
 </select> 

    <select id="queryPartyMemberList" resultType="cn.dlbdata.dj.db.vo.party.PartyMemberInfoVo">
        select u.id as id,pm.name as name,pm.sex_code as sex,pm.age as age,pm.birth_date as birthDate,pm.dept_id as deptId,dept.name as deptName,
        u.role_id as roleId,pm.idcard as idCard,u.name as account,ifnull((select sum(sc.score) from dj_score sc where sc.user_id = pm.id),0) as totalScore,
        pm.party_post_code as partyPostCode
        from dj_partymember pm
        left join  dj_user u on u.id = pm.id
        left join dj_dept dept on pm.dept_id = dept.id
        left join dj_section sc on dept.dj_section_id = sc.id
        <where>
            <if test="sectionId != null and sectionId != ''">
                and sc.id = #{sectionId}
            </if>
            <if test="deptId != null and deptId != ''">
                and dept.id = #{deptId}
            </if>
            <if test="name != null and name != ''">
                and pm.name LIKE concat(concat('%',#{name}),'%')
            </if>
            <if test="sex != null and sex != ''">
                and pm.sex_code = #{sex}
            </if>
            <if test="position != null and position != ''">
                and pm.party_post_code = #{position}
            </if>
        </where>
        <choose>
            <when test="orderBy !=null">
                order by ${orderBy}
            </when>
            <otherwise>
                order by deptId,partyPostCode
            </otherwise>
        </choose>
    </select>

    <select id="queryScoreHistoryList" resultType="cn.dlbdata.dj.db.vo.score.ScoreDetailVo">
        select sc.add_time as addTime,pm.name as partyMemberName,sc.apply_user_name as applicant,sc.approver_name as approver,
        sc.score as score,sc.score_desc as scoreDesc
        from dj_score sc left join dj_partymember pm on pm.id = sc.user_id
        <where>
         1 = 1
            <if test="name != null and name != ''">
                and name LIKE concat(concat('%',#{name}),'%')
            </if>
            <if test="seldept != null and seldept != ''">
                and pm.dept_id = #{seldept}
            </if>
        </where>
        <choose>
            <when test="orderBy != null ">
                order by ${orderBy}
            </when>
            <otherwise>
                order by addTime Desc
            </otherwise>
        </choose>
    </select>
    
  <!-- 登录日志列表 -->
  <resultMap id="LoginLogResultMap" type="cn.dlbdata.dj.db.vo.loginlog.LoginLogVo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_account" jdbcType="VARCHAR" property="userAccount" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="error_msg" jdbcType="VARCHAR" property="errorMsg" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
  </resultMap>
 <select id="queryLoginLogList" resultMap="LoginLogResultMap">
 	SELECT  dll.id, dll.status, dll.user_account, dll.user_name, dll.error_msg, dll.create_time, dd.name dept_name, dll.ip
 	FROM dj_log_login dll
 	LEFT JOIN dj_dept dd ON dd.id = dll.dj_dept_id
 	<where>
 		1 = 1
 		<if test="loginStatus == 1">
 			<if test="userAccount != null and userAccount != ''">
   			and dll.user_account = #{userAccount}
	   		</if>
	   		<if test="userName != null and userName != ''">
	 			and dll.user_name like #{userName}
	   		</if>
	   		<if test="status != '' and status != null">
	 			and dll.status = #{status}
	   		</if>
	   		<if test="seldept != '' and seldept != null">
	 			and dll.dj_dept_id = #{seldept}
	   		</if>
 		</if>
 		<if test="loginStatus == 0">
 			and dj_user_id is null
 		</if>
 		
	   		<if test="orderBy != '' and orderBy != null">
	 			order by dll.create_time desc
	   		</if>
   	</where> 
 </select> 
 
  <!-- 积分等级列表 -->
  <resultMap id="ScoreLevelResultMap" type="cn.dlbdata.dj.db.vo.score.ScoreLevelVo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="level_min" jdbcType="INTEGER" property="levelMin" />
    <result column="level_max" jdbcType="INTEGER" property="levelMax" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
 <select id="queryScoreLevelList" resultMap="ScoreLevelResultMap">
 	SELECT  id, name, level_min, level_max, create_time
 	FROM dj_score_level
 	<where>
 		1 = 1
 		<if test="name != '' and name != null">
 			and name = #{name}
   		</if>
   	</where> 
 </select> 
    
  <!-- 操作日志列表 -->
  <resultMap id="OperationLogResultMap" type="cn.dlbdata.dj.db.vo.operationlog.OperationLogVo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="opt_name" jdbcType="INTEGER" property="optName" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="error_msg" jdbcType="VARCHAR" property="errorMsg" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
 <select id="queryOperationLogList" resultMap="OperationLogResultMap">
 	SELECT dlo.id, dlo.status, dlo.error_msg, dlo.create_time, dd.name dept_name, du.user_name, dod.name opt_name
 	FROM dj_log_opt dlo
 	LEFT JOIN dj_user du ON du.id = dlo.dj_user_id
 	LEFT JOIN dj_dept dd ON dd.id = dlo.dj_dept_id
 	LEFT JOIN dj_opt_dict dod ON dod.id = dlo.opt_id
 	<where>
 		1 = 1
 		<if test="optStatus == 1">
 			<if test="userName != null and userName != ''">
 				and du.user_name like #{userName}
	   		</if>
	   		<if test="seldept != null and seldept != ''">
	 			and dlo.dj_dept_id = #{seldept}
	   		</if>
 		</if>
 		<if test="optStatus == 0">
 			and dlo.dj_dept_id is null
 		</if>
   		<if test="orderBy != '' and orderBy != null">
 			order by dlo.create_time desc
   		</if>
   	</where> 
 </select>  

  <!-- 角色管理 -->
  <resultMap id="UserRoleResultMap" type="cn.dlbdata.dj.db.vo.role.RoleVo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="roleName" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
 <select id="queryUserRoleList" resultMap="UserRoleResultMap">
 	SELECT id, name, status, remark
 	FROM dj_role
 	<where>
 		1 = 1
    </where> 
 </select>

    <select id="queryBuildingList" resultType="cn.dlbdata.dj.db.vo.building.AdminBuildingVo">
        select bud.id,bud.name,bud.code,sec.name as sectionName,bud.floor_num as floorNum,bud.party_num as partyNum,
         bud.people_num as peopleNum, bud.address, bud.status,bud.create_time as createTime
         from dj_building bud left join dj_section sec on bud.dj_section_id = sec.id
         where bud.status = 1
    </select>
    
  <!-- 党费历史缴纳 -->
  <resultMap id="PartymemberDuesResultMap" type="cn.dlbdata.dj.db.vo.party.PartymemberDuesVo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="dues_year" jdbcType="INTEGER" property="duesYear" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="dues_month" jdbcType="INTEGER" property="duesMonth" />
    <result column="dues_money" jdbcType="FLOAT" property="duesMoney" />
    <result column="real_money" jdbcType="FLOAT" property="realMoney" />
    <result column="payment_time" jdbcType="TIMESTAMP" property="paymentTime" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
  </resultMap>
 <select id="queryPartymemberDuesList" resultMap="PartymemberDuesResultMap">
 	SELECT dpd.id, dpd.dues_year, dpd.dues_month, dpd.dues_money, dpd.real_money, dpd.status, dpd.payment_time, dp.name user_name, dd.name dept_name
 	FROM dj_partymember_dues dpd
 	INNER JOIN dj_partymember dp ON dp.id = dpd.dj_partymember_id 
 	LEFT JOIN dj_dept dd ON dd.id = dp.dept_id
 	<where>
 		1 = 1
   		<if test="userName != '' and userName != null">
 			and dp.name = #{userName}
   		</if>
   		<if test="seldept != '' and seldept != null">
 			and dd.id = ${seldept}
   		</if>
   		<if test="orderBy != '' and orderBy != null">
 			order by  dpd.payment_time desc
   		</if>
   	</where> 
 </select>     
</mapper>