<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dlbdata.dj.db.mapper.DjQueryMapper">
  <resultMap id="BaseResultMap" type="cn.dlbdata.dj.db.pojo.DjQuery">
    <id column="id" jdbcType="INTEGER" property="id" />
  </resultMap>
  
  <resultMap id="SectionResultMap" type="cn.dlbdata.dj.db.pojo.DjSection">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="people_num" jdbcType="INTEGER" property="peopleNum" />
    <result column="address" jdbcType="INTEGER" property="address" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="principal_id" jdbcType="BIGINT" property="principalId" />
    <result column="principal_name" jdbcType="VARCHAR" property="principalName" />
  </resultMap>
  
  <select id="querySectionList" resultMap="SectionResultMap">
    select id,name,people_num,address,status,create_time,principal_id,principal_name from dj_section
    <where>
    		status = 1
    		<if test="name != null">
    			and name like #{name}
    		</if>
    </where>
  </select>

  <!-- 查询活动列表 -->
  <resultMap id="ActiveResultMap" type="cn.dlbdata.dj.db.vo.active.AdminActiveVo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="activeName" />
    <result column="sub_type_name" jdbcType="VARCHAR" property="activeTypeName" />
    <result column="user_name" jdbcType="VARCHAR" property="createUser" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="principal_name" jdbcType="VARCHAR" property="principalName" />
  </resultMap>
  <select id="queryActiveList" resultMap="ActiveResultMap">
  	select t.id, t.name, t.status, t.start_time, t.end_time, t.principal_name, t.user_name, dst.name sub_type_name
  	from dj_active t
  	left join dj_sub_type dst on dst.id = t.dj_sub_type_id
    <where>
         1 = 1
   		<if test="name != null and name != ''">
   			and t.name like #{name}
   		</if>
   		<if test="status != null">
   			and t.status = #{status}
   		</if>

    </where>
  </select>

  <!-- 查询自主学习列表 -->
  <resultMap id="StudyResultMap" type="cn.dlbdata.dj.db.vo.study.AdminStudyVo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sub_type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="dept_name" jdbcType="INTEGER" property="deptName" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
 <select id="queryStudyList" resultMap="StudyResultMap">
 	select s.id, s.create_time, s.start_time, s.end_time, s.user_name, djs.name sub_type_name, de.name dept_name
 	from dj_study s
 	left join dj_sub_type djs on djs.id = s.dj_sub_type_id
 	left join dj_dept de on de.id = s.dj_dept_id
 	<where>
         1 = 1
         <if test="createName != '' and createName != null ">
         	and REPLACE(s.user_name,' ','') like #{createName}
         </if>
   	</where>	
 </select> 

    <select id="queryPartyMemberList" resultType="cn.dlbdata.dj.db.vo.party.PartyMemberInfoVo">
        select u.id as id,pm.name as name,pm.sex_code as sex,pm.age as age,pm.birth_date as birthDate,pm.dept_id as deptId,dept.name as deptName,
        u.role_id as roleId,pm.idcard as idCard,u.name as account,ifnull((select sum(sc.score) from dj_score sc where sc.user_id = pm.id),0) as totalScore
        from dj_partymember pm
        left join  dj_user u on u.id = pm.id
        left join dj_dept dept on pm.dept_id = dept.id
        <where>
            <if test="name != null and name != ''">
                and name LIKE concat(concat('%',#{name}),'%')
            </if>
        </where>
    </select>

    <select id="queryScoreHistoryList" resultType="cn.dlbdata.dj.db.vo.score.ScoreDetailVo">
        select sc.add_time as addTime,pm.name as partyMemberName,sc.apply_user_name as applicant,sc.approver_name as approver,
        sc.score as score,sc.score_desc as scoreDesc
        from dj_score sc left join dj_partymember pm on pm.id = sc.user_id
    </select>
    
  <!-- 登录日志列表 -->
  <resultMap id="LoginLogResultMap" type="cn.dlbdata.dj.db.vo.loginlog.LoginLogVo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_account" jdbcType="VARCHAR" property="userAccount" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="error_msg" jdbcType="VARCHAR" property="errorMsg" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
 <select id="queryLoginLogList" resultMap="LoginLogResultMap">
 	SELECT  dll.id, dll.status, dll.user_account, dll.user_name, dll.error_msg, dll.create_time, dd.name dept_name
 	FROM dj_log_login dll
 	LEFT JOIN dj_dept dd ON dd.id = dll.dj_dept_id
 	<where>
 		1 = 1
 		<if test="userAccount != null and userAccount != ''">
   			and dll.user_account = #{userAccount}
   		</if>
   		<if test="userName != null and userName != ''">
 			and REPLACE(dll.user_name,' ','') like #{userName}
   		</if>
   		<if test="status != 0 and status != null">
 			and dll.status = #{status}
   		</if>
   	</where> 
 </select> 
    
    
    
    
    
</mapper>