<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dlbdata.dj.db.mapper.DjScoreMapper">
	<resultMap id="BaseResultMap" type="cn.dlbdata.dj.db.pojo.DjScore">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="dj_type_id" jdbcType="BIGINT" property="djTypeId" />
		<result column="dj_sub_type_id" jdbcType="BIGINT" property="djSubTypeId" />
		<result column="score" jdbcType="REAL" property="score" />
		<result column="user_id" jdbcType="BIGINT" property="userId" />
		<result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
		<result column="apply_user_id" jdbcType="BIGINT" property="applyUserId" />
		<result column="apply_user_name" jdbcType="VARCHAR" property="applyUserId" />
		<result column="approver_id" jdbcType="BIGINT" property="approverId" />
		<result column="approver_name" jdbcType="VARCHAR" property="approverName" />
		<result column="add_year" jdbcType="INTEGER" property="addYear" />
		<result column="add_status" jdbcType="INTEGER" property="addStatus" />
		<result column="score_desc" jdbcType="VARCHAR" property="scoreDesc" />
		<result column="record_id" jdbcType="BIGINT" property="recordId" />
		<result column="recrod_desc" jdbcType="VARCHAR" property="recrodDesc" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="user_name" jdbcType="VARCHAR" property="userName" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="max_score" jdbcType="REAL" property="maxScore" />
	</resultMap>

	<select id="getSumScoreByUserId" parameterType="Map"
		resultType="java.lang.Float">
		select sum(score) from dj_score where user_id=#{userId} and add_year=#{year}
	</select>
	
	<select id="getSumScoreByUserIdAndType" parameterType="Map"
		resultType="java.lang.Float">
		select sum(score) from dj_score where user_id=#{userId} and add_year=#{year}
		<if test="djTypeId != null">
			and dj_type_id=#{djTypeId}
		</if>
		<if test="djSubTypeId != null">
			AND dj_sub_type_id = #{djSubTypeId}
		</if>
	</select>

	<select id="getSumScoreByTypeIdAndUserId" parameterType="Map"
		resultType="java.lang.Float">
		select sum(score) from dj_score where user_id=#{userId} and add_year=#{year}
		<if test="typeId != null">
			and dj_type_id=#{typeId}
		</if>
	</select>
	
	<select id="getUserActiveCountByActiveTypeAndTime" parameterType="map" resultType="java.lang.Float">
		select sum(score) score from dj_score
		where user_id=#{userId} and add_year=#{year}
		<if test="djTypeId != null">
			AND d.dj_type_id = #{djTypeId}
		</if>
		<if test="djSubTypeId != null">
			AND d.dj_sub_type_id = #{djSubTypeId}
		</if>
	</select>

	<select id="getScoreListByUserId" parameterType="Map"
		resultType="cn.dlbdata.dj.db.vo.score.ScoreVo">
		SELECT s.id,s.user_id userId,s.score,s.add_time addTime,s.approver_name approverName,t.name typeName,s.dj_type_id djTypeId,s.record_id,s.recrod_desc recrodDesc from dj_score s 
		left join dj_sub_type t on t.id = s.dj_sub_type_id
		where s.add_year = #{year} and s.user_id = #{userId}
		order by s.add_time desc
	</select>
	
	<select id="getTypeScoreListByUserId" parameterType="Map"
		resultType="cn.dlbdata.dj.db.vo.apply.ScoreTypeVo">
		SELECT t.id,t.name,t.score score,ifnull((select sum(s.score) score from dj_score s where s.dj_type_id = t.id 
		and s.add_year = #{year} and s.user_id = #{userId} 
		GROUP BY s.dj_type_id),0) total from dj_type t 
	</select>

	
	<select id="getScoreIdsByTypeIdAndSubTypeIdAndYearAndPartyMemberId" resultMap="BaseResultMap">
		select id from dj_score where dj_type_id = #{typeId} and dj_sub_type_id = #{subTypeId}
		and add_year = #{year} and user_Id = #{partyMemberId}
	</select>
</mapper>