<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dlbdata.dj.db.mapper.DjSectionMapper">
  <resultMap id="BaseResultMap" type="cn.dlbdata.dj.db.pojo.DjSection">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="people_num" jdbcType="INTEGER" property="peopleNum" />
    <result column="address" jdbcType="INTEGER" property="address" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="principal_id" jdbcType="BIGINT" property="principalId" />
    <result column="principal_name" jdbcType="VARCHAR" property="principalName" />
  </resultMap>
  
  <select id="getByPrincipalId" resultMap="BaseResultMap">
    select id,name,people_num,address,status,create_time,principal_id from dj_section
    where principal_id = #{principalId}
  </select>
  
  <select id="getSectionInfo" parameterType="java.lang.Long"
     resultType="cn.dlbdata.dj.db.vo.party.SectionInfoVo">
    select sec.name ,(select count(0) from dj_dept  dept where dept.dj_section_id = sec.id) as branchSum,sec.people_num as peopleSum,sec.principal_name as leaderName
    from dj_section sec where sec.id=#{sectionId}
  </select>

  <select id="existWithName" resultType="boolean">
    select count(*) from dj_section
    <where>
      name = #{name}
      <if test="id != null">
        and id != id
      </if>
    </where>

  </select>
</mapper>