<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dlbdata.dj.db.mapper.DjStudyMapper">
  <resultMap id="BaseResultMap" type="cn.dlbdata.dj.db.pojo.DjStudy">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="dj_type_id" jdbcType="BIGINT" property="djTypeId" />
    <result column="dj_sub_type_id" jdbcType="BIGINT" property="djSubTypeId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="has_audit" jdbcType="INTEGER" property="hasAudit" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="pic_id" jdbcType="BIGINT" property="picId" />
    <result column="approve_id" jdbcType="BIGINT" property="approveId" />
    <result column="approve_name" jdbcType="VARCHAR" property="approveName" />
    <result column="dj_dept_id" jdbcType="BIGINT" property="djDeptId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
	
  <!-- 审批列表 -->
  <resultMap type="cn.dlbdata.dj.db.vo.study.ReviewScheduleListVo" id="BaseResultMapTwo">
  	 <id column="id" jdbcType="BIGINT" property="id" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="name" jdbcType="VARCHAR" property="typeName" />
    <result column="approve_name" jdbcType="VARCHAR" property="approveName" />
    <result column="remark" jdbcType="VARCHAR" property="refuseReason" />
  </resultMap>
  
   <select id="getReviewScheduleList" parameterType="map" resultMap="BaseResultMapTwo">
    select djs.id, djs.start_time, djs.end_time, djs.content, djs.status, djt.name, djs.approve_name, da.remark
    	from dj_study djs 
    	left join dj_apply da on da.record_id = djs.id
    	left join dj_type djt on djt.id = djs.dj_type_id
    	where djs.dj_sub_type_id = #{subTypeId} and djs.create_user_id = #{userId}
  </select>
  
  <resultMap type="cn.dlbdata.dj.db.vo.study.AdminStudyDetailVo" id="BaseResultMapThree">
  	 <id column="id" jdbcType="BIGINT" property="id" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
  </resultMap>
  
  <select id="getAdminStudyDetail" parameterType="Long" resultMap="BaseResultMapThree">
  	SELECT ds.id, ds.content, ds.start_time, ds.end_time, ds.user_name, ds.status, dst.name type_name, dd.name dept_name
  	FROM dj_study ds
  	LEFT JOIN dj_sub_type dst ON dst.id = ds.dj_sub_type_id
  	LEFT JOIN dj_dept dd ON dd.id = ds.dj_dept_id
  	<where>
  		1 = 1 
  		<if test="id != '' and id != null">
  			and ds.id = #{id}
  		</if>
  	</where>
  </select>
  
  <select id="getPendingCount" resultType="java.lang.Integer">
  	select count(*) from dj_study where status >=0
  	<if test="typeId != null">
  		and dj_type_Id = #{typeId}
  	</if>
  	<if test="userId != null">
  		and create_user_id = #{userId}
  	</if>
  </select>
  
</mapper>