<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dlbdata.dj.db.mapper.DjStudyMapper">
  <resultMap id="BaseResultMap" type="cn.dlbdata.dj.db.pojo.DjStudy">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="dj_type_id" jdbcType="BIGINT" property="djTypeId" />
    <result column="dj_sub_type_id" jdbcType="BIGINT" property="djSubTypeId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="has_audit" jdbcType="INTEGER" property="hasAudit" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="pic_id" jdbcType="BIGINT" property="picId" />
    <result column="approve_id" jdbcType="BIGINT" property="approveId" />
    <result column="dj_dept_id" jdbcType="BIGINT" property="djDeptId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <select id="getStudysByDeptIdAndSubTypeId" resultType="cn.dlbdata.dj.db.vo.study.PendingPtMemberVo">
    select id as studyId,user_name as name,status,create_time as createTime from dj_study where dj_dept_id = #{deptId} and dj_sub_type_id = #{subTypeId}
     order by has_audit asc
  </select>
  
  <resultMap type="cn.dlbdata.dj.db.vo.study.ReviewScheduleListVo" id="BaseResultMapTwo">
  	 <id column="id" jdbcType="BIGINT" property="id" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="name" jdbcType="VARCHAR" property="typeName" />
    <result column="user_name" jdbcType="VARCHAR" property="approveName" />
  </resultMap>
   <select id="getReviewScheduleList" parameterType="map" resultMap="BaseResultMapTwo">
    select djs.id, djs.start_time, djs.end_time, djs.content, djs.status, djt.name, dju.user_name
    	from dj_study djs 
    	left join dj_type djt on djt.id = djs.dj_type_id
    	left join dj_user dju on dju.id = djs.approve_id
    	where djs.dj_sub_type_id = #{subTypeId} and djs.create_user_id = #{userId}
  </select>
  
  
  
</mapper>