<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dlbdata.dj.db.mapper.DjUserMapper">
  <resultMap id="BaseResultMap" type="cn.dlbdata.dj.db.pojo.DjUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="dj_partymember_id" jdbcType="BIGINT" property="djPartymemberId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="dept_id" jdbcType="BIGINT" property="deptId" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="login_count" jdbcType="INTEGER" property="loginCount" />
    <result column="last_time" jdbcType="TIMESTAMP" property="lastTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
  </resultMap>

  <select id="existWithUserName" resultType="boolean">
    select count(*) from dj_user
    <where>
      name = #{userName}
      <if test="id != null">
        and id != #{id}
      </if>
    </where>
  </select>
  
  <select id="getByRoleIdAndDeptIdIn" resultMap="BaseResultMap">
    select id,dj_partymember_id,name,pwd,role_id,status,dept_id,token,avatar,login_count,last_time,create_time,user_name
    from dj_user where role_id = #{roleId} and dept_id in
    <foreach item="item" index="index" collection="deptIds" open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>
</mapper>