<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dlbdata.dj.db.mapper.DjUserMapper">
  <resultMap id="BaseResultMap" type="cn.dlbdata.dj.db.pojo.DjUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="dj_partymember_id" jdbcType="BIGINT" property="djPartymemberId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="dept_id" jdbcType="BIGINT" property="deptId" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="login_count" jdbcType="INTEGER" property="loginCount" />
    <result column="last_time" jdbcType="TIMESTAMP" property="lastTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
  </resultMap>
  <sql id="BaseColumnList">
    id,dj_partymember_id,name,pwd,role_id,status,dept_id,token,avatar,login_count,last_time,create_time,user_name
  </sql>

  <select id="existWithUserName" resultType="boolean">
    select count(*) from dj_user
    <where>
      name = #{userName}
      <if test="id != null">
        and id != #{id}
      </if>
    </where>
  </select>
  
  <select id="getByRoleIdAndDeptIdIn" resultMap="BaseResultMap">
    select id,dj_partymember_id,name,pwd,role_id,status,dept_id,token,avatar,login_count,last_time,create_time,user_name
    from dj_user where role_id = #{roleId} and dept_id in
    <foreach item="item" index="index" collection="deptIds" open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>
  
  <!-- 第三方登录 -->
  <resultMap id="ThirdLoginResultMap" type="cn.dlbdata.dj.db.vo.UserResVo">
    <result column="id" jdbcType="BIGINT" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="pwd" jdbcType="VARCHAR" property="password" />
    <result column="phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="dept_id" jdbcType="VARCHAR" property="deptId" />
    <result column="dept_name" jdbcType="BIGINT" property="deptName" />
    <result column="sex_code" jdbcType="INTEGER" property="sex" />
    <result column="avatar" jdbcType="VARCHAR" property="headerImg" />
    <result column="dict_name" jdbcType="VARCHAR" property="partyWork" />
    <result column="idcard" jdbcType="VARCHAR" property="idcard" />
  </resultMap>
  <select id="getUserFromAccountAndPwd" resultMap="ThirdLoginResultMap">
  	select du.id, du.user_name, djp.phone, du.avatar, djp.sex_code, dic.dict_name ,djp.idcard, du.dept_id,dd.name dept_name
  	from dj_user du 
  	left join dj_partymember djp on djp.id = du.dj_partymember_id 
  	left join dj_dept dd on dd.id = du.dept_id
  	left join dj_dict dic on dic.dict_code = djp.party_post_code
  	where  dic.dict_type = 'party_post' 
  	and du.name  = #{account} and du.pwd = #{password}
  	
  </select>
  
  <select id="getByDeptId" resultMap="BaseResultMap">
    select <include refid="BaseColumnList"/> from dj_user where dept_id = #{deptId}
  </select>
  
  
</mapper>