<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dlbdata.dj.db.mapper.TDictionaryMapper">
  <resultMap id="BaseResultMap" type="cn.dlbdata.dj.db.pojo.TDictionary">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="item_code" jdbcType="VARCHAR" property="itemCode" />
    <result column="item" jdbcType="VARCHAR" property="item" />
    <result column="category_code" jdbcType="VARCHAR" property="categoryCode" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="supply" jdbcType="VARCHAR" property="supply" />
  </resultMap>
</mapper>