<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dlbdata.dj.db.mapper.TSectionMapper">
  <resultMap id="BaseResultMap" type="cn.dlbdata.dj.db.pojo.TSection">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="secretary_id" jdbcType="INTEGER" property="secretaryId" />
    <result column="enterprise_count" jdbcType="INTEGER" property="enterpriseCount" />
    <result column="camera" jdbcType="VARCHAR" property="camera" />
    <result column="mesh" jdbcType="VARCHAR" property="mesh" />
  </resultMap>
</mapper>