<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>党员积分制管理系统</title>
    <link rel="stylesheet" href="css/main2.css">
</head>

<body class="gray-bg">
  <button class="active">本月</button>
  <button style="margin-left: 20px;">本年</button>
  <div class="top">
    <div class="item item1">
      <div class="item-top">
        <div class="fl">党员活动</div>
        <i></i>
        <div class="fr">查看全部</div>
      </div>
      <div class="item-bottom">
        <div class="ft">本月</div>
        <div class="fb">1231</div>
      </div>
    </div>
    <div class="item item2">
      <div class="item-top">
        <div class="fl">自主学习</div>
        <i></i>
        <div class="fr">查看全部</div>
      </div>
      <div class="item-bottom">
        <div class="ft">本月</div>
        <div class="fb">1231</div>
      </div>
    </div>
    <div class="item item3">
      <div class="item-top">
        <div class="fl">党员积分</div>
        <i></i>
        <div class="fr">查看全部</div>
      </div>
      <div class="item-bottom">
        <div class="ft">本月</div>
        <div class="fb">1231</div>
      </div>
    </div>
    <div class="item item4">
      <div class="item-top">
        <div class="fl">党费</div>
        <i></i>
        <div class="fr">查看全部</div>
      </div>
      <div class="item-bottom">
        <div class="ft">本月</div>
        <div class="fb">1231</div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="bottom-fl">
      <span class="title">党支部排行榜</span>
      <div class="people">
        <div class="left">
          <img class="img" src="img/zuzhi.png" alt="">
        </div>
        <div class="right">
          <span>中共浦东新区沪东新村街道上川居民区第一支部委员会</span>
          <br><span class="name">支部书记：<i>刘德华</i></span>
        </div>
      </div>
      <div class="people1">
        <div class="left">
          <img class="img" src="img/zuzhi.png" alt="">
        </div>
        <div class="right">
          <span>中共浦东新区沪东新村街道上川居民区第一支部委员会</span>
          <br><span class="name">支部书记：<i>刘德华</i></span>
        </div>
      </div>
      <div class="people">
          <div class="left">
            <img class="img" src="img/zuzhi.png" alt="">
          </div>
          <div class="right">
            <span>中共浦东新区沪东新村街道上川居民区第一支部委员会</span>
            <br><span class="name">支部书记：<i>刘德华</i></span>
          </div>
      </div>
      <button class="more">查看更多</button>   
      
      <!-- echarts -->
      <div class="ibox-content">
        <div class="echarts" id="echarts-bar-chart"></div>
      </div>
    </div>
    <div class="bottom-fr">
      <span class="title">党员排行榜</span>
      <div class="membePeople" style="border-top: 1px solid #e4e4e4;">
        <div class="left">
          <img class="img" src="img/boy.png" alt="">
        </div>
        <div class="right">
          <span class="memberName">张一山</span><br>
          <span class="score">总积分：<i>50</i></span><br>
          <span class="branch">所属支部：<i>中共浦东新区沪东新村街道上川居民区第一支部委员会</i></span>
        </div>
      </div>
      <div class="membePeople1">
        <div class="left">
          <img class="img" src="img/boy.png" alt="">
        </div>
        <div class="right">
            <span class="memberName">张一山</span><br>
            <span class="score">总积分：<i>50</i></span><br>
            <span class="branch">所属支部：<i>中共浦东新区沪东新村街道上川居民区第一支部委员会</i></span>
        </div>
      </div>
      <div class="membePeople">
          <div class="left">
            <img class="img" src="img/boy.png" alt="">
          </div>
          <div class="right">
              <span class="memberName">张一山</span><br>
              <span class="score">总积分：<i>50</i></span><br>
              <span class="branch">所属支部：<i>中共浦东新区沪东新村街道上川居民区第一支部委员会</i></span>
          </div>
      </div>
      <div class="membePeople1">
        <div class="left">
          <img class="img" src="img/boy.png" alt="">
        </div>
        <div class="right">
            <span class="memberName">张一山</span><br>
            <span class="score">总积分：<i>50</i></span><br>
            <span class="branch">所属支部：<i>中共浦东新区沪东新村街道上川居民区第一支部委员会</i></span>
        </div>
      </div>
      <div class="membePeople">
        <div class="left">
          <img class="img" src="img/boy.png" alt="">
        </div>
        <div class="right">
            <span class="memberName">张一山</span><br>
            <span class="score">总积分：<i>50</i></span><br>
            <span class="branch">所属支部：<i>中共浦东新区沪东新村街道上川居民区第一支部委员会</i></span>
        </div>
      </div>
      <button class="more">查看更多</button>   
    </div>
  </div>
</body>
<!-- 全局js -->
<script src="../static/js/jquery.min.js?v=2.1.4"></script>
<!-- ECharts -->
<script src="../static/js/plugins/echarts/echarts.min.js"></script>
<script src="../static/js/plugins/echarts/map/china.js"></script>
<!-- 自定义js -->
<script src="../static/js/content.js?v=1.0.0"></script>
<!-- ECharts demo data -->
<script src="../static/js/demo/echarts-demo.js"></script>

</html>
